@model vMTS.Models.Carousel
@{Layout = null;}

@{var itemList = @Model.RemoveImage.ToList();}

@if (itemList.Count() >= 1)
{
    foreach (var i in itemList)
    {
        using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_DeleteImage", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id", i.ImgId)
            @Html.Hidden("Image", i.ImgName)

            <div class="form-group">
                <div class="thumbnail">
                    <img src="~/images/carousel/@i.ImgName" alt="@i.ImgCaption">
                </div>
            </div>
            <div class="caption">@i.ImgCaption</div>
        }
    }
}
