@model vMTS.Models.RegistrationAdministration

@{Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

@Scripts.Render("~/bundles/admin_Registration")
@Scripts.Render("~/bundles/admin_ExportCSV")


@{var itemList = @Model.CurrentRegCounts.ToList();}

@{var first = itemList[0].CLASS_ID;}
<input type="hidden" id="first" value="@first" />

@if (itemList.Count() >= 1)
{
    <h2>Current Registrations</h2>
    <div class="container-fluid">
        <div class="table-bordered table-responsive">
            <table class="table table-condensed">
                <tr>
                    <th>Start Date</th>
                    <th># of Registrations</th>
                    <th># Available (As of @string.Format("{0:d}", DateTime.Today))</th>
                    <th>&nbsp;</th>
                </tr>
                @foreach (var i in itemList)
                {
                    <tr id="curreg">
                        <td>@string.Format("{0:d}", i.CLASS_START_DATE)</td>
                        <td><a href="_students/@i.CLASS_ID" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" data-content="@i.REGISTRATIONS registration(s) for this class.  Click to view." data-original-title="" title="Current Registrations"><span class="badge">@i.REGISTRATIONS</span></a></td>
                        <td>@i.OPEN_SEATS</td>
                        <td><span id="ClassExp_@i.CLASS_ID" name="@i.CLASS_ID" class="glyphicon glyphicon-export" aria-hidden="true" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="left" data-content="Class Date: @i.ClassDay. Export the entire class roster." data-original-title="" title="Export: Export Class Roster"></span></td>
                    </tr>
                }
            </table>
        </div>
        <div class="hidden" id="StudentLoader">
            <div class="text-center">
                <p class="lead">Getting roster, please Wait</p>
                <img src="~/images/ajax-loader.gif" class="text-center" />
            </div>
        </div>
        <div class="hidden" id="mycollapse">
            <div class="table-responsive" id="students"></div>
        </div>
    </div>

    <div id="ExportProgress" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Processing export record, Please Wait</h4>
                </div>
                <div class="modal-body text-center">
                    <div id="loading">
                        <p class="lead">Creating File, please Wait</p>
                        <img src="~/images/ajax-loader.gif" class="text-center" />
                    </div>
                    <div id="resultText" class="lead hidden"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

