@model vMTS.Models.VerifyCodeViewModel
@{Layout = "../Shared/_LayoutLogin.cshtml";}

@if (@ViewBag.Title == "Verify Code")
{
    <h2>@ViewBag.Title</h2>
   <h3>A verification code has been sent to the email address on file.</h3>
    using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h4>Cookies Must be enabled for administration access</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
        <div>@Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })</div>
        <p class="lead">Note:  The code will be valid for 10 minutes.</p>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}
}
else
{
    <div>
        <h2>@ViewBag.Title</h2>
    </div>
}
