@model vMTS.Models.RegistrationModel

<!-- Google Code for Google ad Registrations Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 876299888;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Zcd2CPiX1G4Q8IztoQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/876299888/?label=Zcd2CPiX1G4Q8IztoQM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "CourseRegForm", @class = "form-vertical", @role = "form" }))
{

    @Html.Hidden("COURSE_ID", (object)ViewBag.ClassId)
    @Html.Hidden("START_DATE", (object)String.Format("{0:MM/dd/yyyy}", ViewBag.StartDate))
    @Html.Hidden("CLASS_TYPE_REG", (object)ViewBag.ClassRegistration)


    <fieldset id="RegistrantForm">
        <legend>Course Registration</legend>
        <div id="form_FN" class="form-group">
            <label for="inputFirstName" class="sr-only">First Name</label>
            <input type="text" name="FirstName" class="form-control" id="inputFirstName" placeholder="First Name as appears on your DL" aria-describedby="fn_addon" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="As appears on driver's license or birth certificate" data-original-title="" title="First Name">
        </div>
        <div id="form_MN" class="form-group">
            <label for="inputMiddleName" class="sr-only">Middle Name</label>
            <input type="text" name="MiddleName" class="form-control" id="inputMiddleName" placeholder="Middle Name/Initialas appears on your DL" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="As appears on driver's license or birth certificate" data-original-title="" title="Middle Name or Initial">
        </div>
        <div id="form_LN" class="form-group">
            <label for="inputLastName" class="sr-only">Last Name</label>
            <input type="text" name="LastName" class="form-control" id="inputLastName" placeholder="Last Name as appears on your DL" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="As appears on driver's license or birth certificate" data-original-title="" title="Last Name">
        </div>
        <div id="form_Suffix" class="form-group">
            <label for="inputSsuffix" class="sr-only">Suffix</label>
            @Html.DropDownList("inputSuffix", Model.NameSuffix, "Suffix", new { @class = "form-control" })
        </div>
        <div id="form_ADDR" class="form-group">
            <div class="input-group">
                <label for="inputAddressLine1" class="sr-only">Address</label>
                <input type="text" name="Address1" class="form-control" id="inputAddressLine1" placeholder="Street Number and Name">
                <input type="text" name="Address2" class="form-control" id="inputAddressLine2" placeholder="Apt #, Suite #">
            </div>
        </div>
        <div id="form_CITY" class="form-group">
            <label for="inputCity" class="sr-only">City</label>
            <input type="text" name="City" class="form-control" id="inputCity" placeholder="City">
        </div>
        <div id="form_ADDR_ST" class="form-group">
            <label for="inputState" class="sr-only">State</label>
            @Html.DropDownList("inputState", Model.States, "State", new { @class = "form-control" })
        </div>
        <div id="form_ZIP" class="form-group">
            <label for="inputZip" class="sr-only">Zip</label>
            <input type="text" class="form-control" name="Zip" id="inputZip" placeholder="Zip Code">
        </div>
        <div id="form_GN" class="form-group">
            <label for="inputGender" class="control-label">Gender</label>
            <label class="radio-inline">
                <input type="radio" name="Gender" id="inputMale" value="M">
                M
            </label>
            <label class="radio-inline">
                <input type="radio" name="Gender" id="inputFemale" value="F">
                F
            </label>
        </div>

        <div class="form-group">
            <label for="inputRace" class="sr-only">
                Race
            </label>
            @Html.DropDownList("inputRace", Model.RaceCodes, "Race", new { @class = "form-control" })
        </div>

        <div id="form_PN" class="form-group">
            <label for="inputPhone" class="sr-only">Phone Number</label>
            <input type="tel" name="Phone" class="form-control" id="inputPhone" placeholder="Phone Number" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="Numbers only, please. i.e.6151234567" data-original-title="" title="Phone Number">
        </div>
        <div id="form_EM" class="form-group">
            <label for="inputEmail" class="sr-only">E-Mail</label>
            <input type="email" name="Email" class="form-control" id="inputEmail" placeholder="Email Address" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter a valid email address. i.e.someone@something.com" data-original-title="" title="Email Address">
        </div>
        <div id="form_EM2" class="form-group">
            <label for="inputEmail2" class="sr-only">Re-enter E-Mail</label>
            <input type="email" name="inputEmail2" class="form-control" id="inputEmail2" placeholder="Re-enter Email Address" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="Re-enter email address. Must match the email address above." data-original-title="" title="Email Address Validation">
            <div id="mail_alert" class="alert alert-danger hidden">Validaiton Error: Email addresses must match</div>
        </div>
        <div id="form_DOB" class="form-group">
            <label for="inputDOB" class="sr-only">Date of Birth</label>
            <input type="text" name="DOB" class="form-control" id="inputDOB" placeholder="Birth Date (YYYY-MM-DD)" data-mask="9999-99-99" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="Your birth date must be entered in the following format: 4 digit year-2 digit month-2 digit day (YYYY-MM-DD). Example: 2000-01-01 (January 1 2000)" data-original-title="" title="Date of Birth">@*readonly="readonly"*@
            <input type="hidden" name="AGE" id="AGE" />
            <div id="waiver_alert" class="alert alert-danger hidden"></div>
        </div>
        <div id="form_EV" class="form-group">
            <label for="inputEval" class="control-label">Do you need a motorcycle license?</label>
            <label class="radio-inline">
                <input type="radio" name="Eval" id="inputEvalYes" value="Y">
                Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="Eval" id="inputEvalNo" value="N">
                No
            </label>
        </div>
        <!-- OPTIONAL FOR BRC2 AND ARC AND TRIKE -->
        @if (ViewBag.ClassRegistration != "Basic RiderCourse I")
        {
            <div id="form_MC_TYPE" class="form-group">
                <label for="inputMotorYR" class="control-label">What Motorcycle do you have?</label>
                <input type="text" name="MOTOR_YR" class="form-control" id="inputMotorYR" placeholder="Year" maxlength="4">
                <input type="text" name="MOTOR_MK" class="form-control" id="inputMotorMK" placeholder="Make" maxlength="20">
                <input type="text" name="MOTOR_MD" class="form-control" id="inputMotorMD" placeholder="Model" maxlength="20">
                @*<label for="inputHelmet" class="form-group">Do you have a motorcycle helmet?</label>
                    <input type="checkbox" name="HELMET" value="true" /> Yes*@
            </div>
        }

        <div id="form_DL_NUM" class="form-group">
            <label for="inputDLNumber" class="sr-only">Drivers License Number</label>
            <input type="text" name="DL_NUM" class="form-control" id="inputDLNumber" placeholder="Driver's License Number">
        </div>
        <div id="form_DL_ST" class="form-group">
            <label for="inputDLState" class="sr-only">
                State of Drivers License Issued
            </label>
            @Html.DropDownList("inputDLState", Model.States, "State", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button id="btn_Checkout" type="button" class="btn btn-primary">Continue</button>
        </div>

    </fieldset>


    <fieldset id="SurveyForm">
        <legend>Course Prerequisites Confirmation</legend>
        <div class="card" style="font-weight:bold;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input type="checkbox" name="chkBicycle" value="true" required />   I can ride a bicycle.
                </li>
                <li class="list-group-item">
                    <p><input type="checkbox" name="chkECourse" value="true" required />   I acknowledge there is an online eCourse that I must complete before a Tennessee certificate of completion for licensing can be issued. The online eCourse completion is not required prior to the riding portion., but completion is required before a license certificate is issued. It is suggested the eCourse be completed prior to coming to class. Approximate time to complete the course is 5 hours.</p>
                </li>
                <li class="list-group-item">
                    <p><input type="checkbox" name="chkKnowledgeTest" value="true" required />   I acknowledge there is Tennessee knowledge test will be administered by VMTS. A practice crossword puzzle will be provided in the registration confirmation to aid in successful completion. A score of 80% or higher is successful completion.</p>
                </li>
                <li class="list-group-item">
                    <p>
                        In-person on-cycle riding exercises including group activities, followed by an on-cycle skills evaluation is required to receive a Tennessee certificate of completion for licensing. VMTS will provide the use of a training motorcycle.
                    </p>
                    <p>
                        <input type="checkbox" name="chkGear" value="true" required />   I, the student, must provide the proper riding gear to include:
                        <ul>
                            <li>DOT helmet.</li>
                            <li>Eye protection if using an open-face helmet.</li>
                            <li>Long sleeves while seated and riding the motorcycle.</li>
                            <li>Full finger gloves of any kind.</li>
                            <li>Long pants with no holes.</li>
                            <li>Over the ankle footwear, such as comfortable boots.</li>
                        </ul>
                    </p>
                </li>
                <li class="list-group-item">
                    <p><input type="checkbox" name="chkPaymentAgreement" value="true" required />   Debit/credit card payment is required and will be charged to your card soon after registration is complete. Refunds will not be given if cancelled within 7 business days of the class date. However, if cancellation prior to 7 days of scheduled class date, refunds will be made minus the fee for the online eCourse and fees associated with card processing. If VMTS cancels a class, a full refund will be provided with no deduction of fees, or you may select a future date.</p>
                </li>
                <li class="list-group-item">
                    <p><input type="checkbox" name="chkCommunication" value="true" required />   The primary means of communication is via email. The email address provided in the registration is an email you must monitor regularly. Sometimes internet service providers will deliver emails to Spam or Trash; it is your responsibility to make sure you receive the important emails. If you do not receive the emails, contact us immediately by phone or text to 615.414.9042 or email at steve.barber@comcast.net. A confirmation email will be sent immediately upon completion of the registration process.</p>
                </li>
            </ul>
        </div>
 
        <div class="form-group">
            <button id="btn_SurveySubmit" type="button" class="btn btn-primary">Register</button>
        </div>
    </fieldset>

    <fieldset id="CheckoutForm">
        <legend>Checkout</legend>
        <div class="">
            <div id="form_PMT_TPE" class="form-group">
                <label for="inputPaymentType" class="sr-only">
                    Payment Type
                </label>
                <select class="form-control" name="PaymentType" id="inputPaymentType">
                    <option value="" selected>Payment Type</option>
                    <option value="Visa">Visa</option>
                    <option value="MasterCard">Master Card</option>
                    <option value="Discover">Discover</option>
                    <option value="Gift">Gift Card/Certificate</option>
                </select>
            </div>
            <div id="CardFields">
                <div id="form_CD_NM" class="form-group">
                    <label for="inputCardName" class="sr-only">Name on Card</label>
                    <input type="text" name="CardName" class="form-control" id="inputCardName" placeholder="Name on Card" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter the name as it appears on the card" data-original-title="" title="Card Name">
                </div>
                <div id="form_CD_NU" class="form-group">
                    <label for="inputCardNum" class="sr-only">Card Number</label>
                    <input type="text" name="CardNum" class="form-control" id="inputCardNum" placeholder="Card Number" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter a valid card number" data-original-title="" title="Card Number">
                </div>
            </div>
            <div id="CC_Fields">
                <div id="form_CD_EXP" class="form-group">
                    <label for="inputCardExp" class="sr-only">Expiration Date</label>
                    <input type="number" name="CardMonth" class="form-control" min="01" max="12" value="01" id="inputCardMonth" placeholder="Expiration Month" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="The month number of the expiration date. (January = 01, February = 02, etc...)" data-original-title="" title="Card Expiration Month">
                    &nbsp;/&nbsp;
                    <input type="number" name="CardYear" class="form-control" min="2015" max="2025" value="2016" id="inputCardYear" placeholder="Expiration Year" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="The year of the expiration date. The format should be the 4 digit year of expiration." data-original-title="" title="Card Expiration Year">
                </div>
                <div id="form_CD_CVV" class="form-group">
                    <label for="inputCardExp" class="sr-only">CVV</label>
                    <input type="number" name="CardCVV" class="form-control" min="1" max="999" value="001" id="inputCardCVV" placeholder="CVV" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter the card verification value on the back of the card" data-original-title="" title="Card Verification Value">
                </div>

            </div>
            <div id="CheckNote" class="alert alert-warning hidden" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Please Note:</span>Your check must be received before registration can be guaranteed.
            </div>
        </div>
        <div id="PROMO_FIELDS" class="form-group">
            <label for="inputPromo" class="sr-only">Promo Code</label>
            <div>
                <input type="text" name="PromoCode" class="form-control" id="inputPromo" placeholder="Promo Code"><button id="VerifyPromo" type="button" class="btn btn-danger">Apply</button>
            </div>
            <div id="PromoAlert" class="alert alert-danger hidden" role="alert">The promo code is invalid or out of date.</div>
        </div>
        <div class="form-group">
            <button id="CancelPayment" type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit Payment</button>
        </div>
    </fieldset>
}

<div class="modal" id="InvalidAddress" tabindex="-1" role="dialog" aria-labelledby="addrModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addrModalLabel">Invalid USPS Address</h4>
            </div>
            <div class="modal-body">
                <h2>The address you entered is invalid.</h2>
                <blockquote id="USPSerror"></blockquote>
                <p class="lead">Please correct the address you entered:</p>
                <blockquote><address id="BadAddressValues"></address></blockquote>

                <p><small>Tip: make sure you spelled the street address correctly (Dr, Court, Circle, etc...)</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Ok">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RegSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registration Success</h4>
            </div>
            <div class="modal-body">
                <h2>Thank You for registering with us.</h2>
                <p class="lead">You will receive a class confirmation email soon.</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="regNum" name="regNum" />
                <button id="RegConfirm" type="button" class="btn btn-primary">View Confirmation</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/registration")
